<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.crm.mapper.SaleChanceMapper" >
  <resultMap id="BaseResultMap" type="com.situ.crm.entity.SaleChance" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="chance_source" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="customer_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="success_rate" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="overview" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="link_man" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="link_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_man" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="assign_man" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="assign_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dev_result" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, chance_source, customer_name, success_rate, overview, link_man, link_phone, description, 
    create_man, create_time, assign_man, assign_time, status, dev_result
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.situ.crm.entity.SaleChanceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale_chance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale_chance
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale_chance
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.situ.crm.entity.SaleChanceExample" >
    delete from sale_chance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.situ.crm.entity.SaleChance" >
    insert into sale_chance (id, chance_source, customer_name, 
      success_rate, overview, link_man, 
      link_phone, description, create_man, 
      create_time, assign_man, assign_time, 
      status, dev_result)
    values (#{id,jdbcType=INTEGER}, #{chanceSource,jdbcType=VARCHAR}, #{customerName,jdbcType=VARCHAR}, 
      #{successRate,jdbcType=INTEGER}, #{overview,jdbcType=VARCHAR}, #{linkMan,jdbcType=VARCHAR}, 
      #{linkPhone,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createMan,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{assignMan,jdbcType=VARCHAR}, #{assignTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{devResult,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.situ.crm.entity.SaleChance" >
    insert into sale_chance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chanceSource != null" >
        chance_source,
      </if>
      <if test="customerName != null" >
        customer_name,
      </if>
      <if test="successRate != null" >
        success_rate,
      </if>
      <if test="overview != null" >
        overview,
      </if>
      <if test="linkMan != null" >
        link_man,
      </if>
      <if test="linkPhone != null" >
        link_phone,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createMan != null" >
        create_man,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="assignMan != null" >
        assign_man,
      </if>
      <if test="assignTime != null" >
        assign_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="devResult != null" >
        dev_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="chanceSource != null" >
        #{chanceSource,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="successRate != null" >
        #{successRate,jdbcType=INTEGER},
      </if>
      <if test="overview != null" >
        #{overview,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assignMan != null" >
        #{assignMan,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null" >
        #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="devResult != null" >
        #{devResult,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.situ.crm.entity.SaleChanceExample" resultType="java.lang.Integer" >
    select count(*) from sale_chance
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sale_chance
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.chanceSource != null" >
        chance_source = #{record.chanceSource,jdbcType=VARCHAR},
      </if>
      <if test="record.customerName != null" >
        customer_name = #{record.customerName,jdbcType=VARCHAR},
      </if>
      <if test="record.successRate != null" >
        success_rate = #{record.successRate,jdbcType=INTEGER},
      </if>
      <if test="record.overview != null" >
        overview = #{record.overview,jdbcType=VARCHAR},
      </if>
      <if test="record.linkMan != null" >
        link_man = #{record.linkMan,jdbcType=VARCHAR},
      </if>
      <if test="record.linkPhone != null" >
        link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createMan != null" >
        create_man = #{record.createMan,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.assignMan != null" >
        assign_man = #{record.assignMan,jdbcType=VARCHAR},
      </if>
      <if test="record.assignTime != null" >
        assign_time = #{record.assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.devResult != null" >
        dev_result = #{record.devResult,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sale_chance
    set id = #{record.id,jdbcType=INTEGER},
      chance_source = #{record.chanceSource,jdbcType=VARCHAR},
      customer_name = #{record.customerName,jdbcType=VARCHAR},
      success_rate = #{record.successRate,jdbcType=INTEGER},
      overview = #{record.overview,jdbcType=VARCHAR},
      link_man = #{record.linkMan,jdbcType=VARCHAR},
      link_phone = #{record.linkPhone,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      create_man = #{record.createMan,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      assign_man = #{record.assignMan,jdbcType=VARCHAR},
      assign_time = #{record.assignTime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=INTEGER},
      dev_result = #{record.devResult,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.situ.crm.entity.SaleChance" >
    update sale_chance
    <set >
      <if test="chanceSource != null" >
        chance_source = #{chanceSource,jdbcType=VARCHAR},
      </if>
      <if test="customerName != null" >
        customer_name = #{customerName,jdbcType=VARCHAR},
      </if>
      <if test="successRate != null" >
        success_rate = #{successRate,jdbcType=INTEGER},
      </if>
      <if test="overview != null" >
        overview = #{overview,jdbcType=VARCHAR},
      </if>
      <if test="linkMan != null" >
        link_man = #{linkMan,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null" >
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createMan != null" >
        create_man = #{createMan,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assignMan != null" >
        assign_man = #{assignMan,jdbcType=VARCHAR},
      </if>
      <if test="assignTime != null" >
        assign_time = #{assignTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="devResult != null" >
        dev_result = #{devResult,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.situ.crm.entity.SaleChance" >
    update sale_chance
    set chance_source = #{chanceSource,jdbcType=VARCHAR},
      customer_name = #{customerName,jdbcType=VARCHAR},
      success_rate = #{successRate,jdbcType=INTEGER},
      overview = #{overview,jdbcType=VARCHAR},
      link_man = #{linkMan,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_man = #{createMan,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      assign_man = #{assignMan,jdbcType=VARCHAR},
      assign_time = #{assignTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      dev_result = #{devResult,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="pageList" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from sale_chance 
    <where>
	   	<if test="customerName !=null and customerName !=''">
	   		and customer_name like concat("%",#{customerName},"%")
	   	</if>
	   	<if test="linkMan !=null and linkMan !=''">
	   		and link_man like concat("%",#{linkMan},"%")
	   	</if>
	   	<if test="createMan !=null and createMan !=''">
	   		and create_man like concat("%",#{createMan},"%")
	   	</if>
	   	<if test="status !=null">
	   		and status = #{status}
	   	</if>
	   <if test="createTime !=null and createTime !=''">
	   		and create_time like concat("%",#{createTime},"%")
	   	</if>
	   	<if test="assignTime !=null and assignTime !=''">
	   		and assign_time like concat("%",#{assignTime},"%")
	   	</if>
   	</where>
  </select>
  <delete id="deleteAll">
	  delete from sale_chance where id in
	  <foreach collection="array" item="idArray" open="("  close=")" separator=",">
	    #{idArray}
	  </foreach>
  </delete>
    <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from sale_chance
  </select>
</mapper>